<div class="row mb-3">
    <label for="user" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-5">
        <input type="name" class="form-control" id="user" #txtUser>
    </div>
</div>
<div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
    <div class="col-sm-5">
        <input type="password" class="form-control" id="password" #txtPassword>
    </div>
</div>

<app-button (click)="Validar(txtUser.value, txtPassword.value)"></app-button>

<div *ngIf="resultado==true; then correcto else incorrecto"></div>

<ng-template #correcto>
    <app-correcto></app-correcto>
</ng-template>

<ng-template #incorrecto>
    <app-incorrecto></app-incorrecto>
</ng-template>